Django>=1.10,<2.0
Markdown==2.6.8
Pygments==2.2.0
django_taggit==0.22.0
django-el-pagination==3.0.1
django-lbutils==1.0.1
pytz>=2016.10,<2017
django-debug-toolbar
django_compressor
django-filebrowser
django-taggit
django-taggit-templatetags
django-pagination
