Django>=1.10,<2.0
Markdown==2.6.8
Pygments==2.2.0
django_taggit==0.22.0
django-el-pagination==3.0.1
django-lbutils==1.0.1
pytz>=2016.10,<2017
django-pagedown==0.1.1
django-filebrowser>=3.7.2,<4.0
Pillow==8.1.1
