{% extends "dpress/ext_base.html" %}
{% load i18n %}
{% load dpress_tags %}
{% load djangohelper_tags %}

{% block head_title %} {{post.title}} {% endblock %}

{% block contents %}
  <div class="entry">
    <h2>{{post}}</h2>
    <p class="meta">{% trans "written by" %} {{post.author}}, {% trans "on" %} {{post.publish|date:"Y-m-d H:i"}}</p>

    <div class="text">
      <div class="document">
        {{ post.body|md }}
      </div>
    </div>
    <p class="related">
      {% trans "Tagged as" %}:
      {% for o in post.tags.all %}
        <a href="#"> 
          {{ o }} 
        </a>
      {% endfor %}
    </p>
  </div>

  {% get_setting "DISQUS_SHORTNAME" "" "DISQUS_SHORTNAME" %}
  {% if DISQUS_SHORTNAME %}
  <div id="comment-message">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = "{{DISQUS_SHORTNAME}}";

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  {% endif %}

{% endblock %}
