DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

#DEFAULT_FILE_STORAGE = 'saestorage.SaeStorage'

# URL prefix for static files.
# Example: "http://media.lawrence.com/static/"
STATIC_URL = '/static/'

DPRESS_TITLE = ''
DPRESS_SUBTITLE = ''
DPRESS_DESCN = ''

#You should register your site to Disqus(http://disqus.com), and Disqus will give your site a shortname.
#if no DISQUS_SHORTNAME comment system will not work.
DISQUS_SHORTNAME = ''

#http://www.google.com/analytics/
GOOGLE_ANALYTICS_CODE = ''

# URL prefix for EpicEditor files.
EPIC_BASEPATH = STATIC_URL + 'dpress/epiceditor'
