DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

#DEFAULT_FILE_STORAGE = 'saestorage.SaeStorage'

DPRESS_TITLE = ''
DPRESS_SUBTITLE = ''
DPRESS_DESCN = ''
DISQUS_SHORTNAME = ''
GOOGLE_ANALYTICS_CODE = ''
EPIC_JS = 'dpress/epiceditor/js/epiceditor.min.js'
EPIC_BASEPATH = '/static/dpress/epiceditor'
