{% extends "dpress/layout.html" %}

{% load i18n %}
{% load el_pagination_tags %}
{% load dpress_tags %}
{% load lbutils %}

{% block main %}
<ul class="entry-list">
    {% paginate posts %}
    {% for o in posts %}
    <li class="entry-item">
        <time class="updated">{{o.publish|date:"Y-m-d H:i"}}</time>
        <a href="{{o.get_absolute_url}}">{{o}}</a>
    </li>
    {% endfor %}
</ul>

{% if pagination.has_prev or pagination.has_next %}
  <hr class="end" />
  {% show_pages %}
{% endif %}

{% endblock %}
